node_modules
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*
!.env.example

# vcs / tools
.git
.gitignore
.vercel

# editor/os
.vscode
.idea
.DS_Store

# misc
Dockerfile
**/*.swp
**/*.swo
